<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" 
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="base">

<head>
	<meta charset="UTF-8" />
	<title  th:text="#{title.sensorManagement.map}">sensor节点管理-地图</title>
	
	<style type="text/css">
	#showSensorMap {
		width: 100%;
		height: 700px;
		overflow: hidden;
		margin: 0;
		font-family: "微软雅黑";
	}
	.anchorBL{  
        display:none;   
    }   
	</style>
	
	<script type="text/javascript" th:src="@{http://api.map.baidu.com/getscript(v=2.0,ak=5CszUV7dPeeTfhUi2OR8hXncqKYz2WqW,t=20170608143204)}"></script>
	<script type="text/javascript" src="/webResources/plugins/echarts/echarts.min.js"></script>
	<script type="text/javascript" src="/webResources/plugins/bMap/bmap.js" ></script>
	<script type="text/javascript" src="/webResources/js/custom/map/commonMap.js"></script>
	<script type="text/javascript" src="/webResources/js/custom/sensor/sensorManagementMap.js"></script>
</head>

<body>
	<div layout:fragment="content" >
		<div class="col-md-6" style="width:100%">
			<div class="row">
				<div  style="padding-top:30px;padding-left:30px;">
					<ul class="nav nav-tabs">
						<li>
							<a id="workOrder_city_info_link1" href='#' style="color:#3795FF;font-size:24px;border:none;" th:text="#{sensorManagement}"></a>
						</li>
						<li style="float:right;right:50px;margin-top:20px">
						   <input type="button" th:value="#{map}" class="btn btn-area-warning"/>
						   <input type="button" th:value="#{table}" class="btn btn-image-warning"  id="viewTable"/>
						</li> 
					</ul>
				</div>
			</div>
		</div>
		<div class="tab-content">
			<section class="content">
				<div class="row" >
					<div class="col-md-8" >
						<div id="showSensorMap"></div>
					</div>
				</div>
			</section>
		</div>
	</div>
</body>

</html>