<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>传感器添加</title>
  
	<script type="text/javascript" src="/webResources/plugins/jquery-validate/dist/jquery.validate.min.js" ></script>
	<script type="text/javascript" src="/webResources/plugins/jquery-validate/dist/localization/messages_zh.js" ></script>
	<script type="text/javascript" src="/webResources/plugins/jquery-form/jquery.form.min.js" ></script>
	<script type="text/javascript" src="/webResources/plugins/jquery-BlockUI/jquery.blockUI.js" ></script>
	<script type="text/javascript" src="/webResources/js/custom/sensor/saveSensor.js" ></script>
</head>

<body class="skin-blue sidebar-mini">
	<form class="form-horizontal" role="form" th:object="${sensor}" id="sensorForm">
		<input type="hidden" id="sensorId" name="sensorId" th:value="${sensor.id}"/>  
	    <fieldset>
	    	<div class="form-group">
		    	<label class="col-sm-3 control-label"  th:text="#{sensor.serialNo}" for="serialNo"></label>  
		    	<div class="col-sm-8">
		    		<input type="text" th:field="*{serialNo}" class="form-control" th:placeholder="#{sensor.serialNo}"/>  
    			</div>
	    	</div>
	    	<div class="form-group">
		    	<label class="col-sm-3 control-label" th:text="#{sensor.iotx.serialNo}" for="iotx"></label>  
		        <div class="col-sm-8">  
		            <input type="text" id="iotxSN" class="form-control" th:placeholder="#{sensor.iotx.serialNo}"/>
		            <input type="hidden" th:field="*{iotx}"  class="form-control"/>
		        </div>
	    	</div>
	        <div class="form-group">  
	            <label class="col-sm-3 control-label" th:text="#{sensor.sensorInterface}"></label> 
	            <div class="col-sm-8"> 
		            <select name="sensorInterface" class="form-control">
		            	<option th:each="sensorInterface : ${sensorInterfaces}" th:value="${sensorInterface.id}" th:text="${sensorInterface.name}"></option>
		            </select>
	            </div>
	        </div> 
	        <div class="form-group">  
	            <label class="col-sm-3 control-label" th:text="#{sensor.sensorPort}"></label>  
	            <div class="col-sm-8">
		            <select name="sensorPort" class="form-control"> 
		            	<option th:each="sensorPort : ${sensorPorts}" th:field="*{sensorPort}" th:value="${sensorPort.id}" th:text="${sensorPort.name}"></option>
		            </select>
	            </div>
	        </div> 
	        <div class="form-group">  
	            <label class="col-sm-3 control-label" th:text="#{sensor.sensorCategory}"></label> 
	            <div class="col-sm-8"> 
		            <select name="sensorCategory" class="form-control"> 
		            	<option th:each="sensorCategory : ${sensorCategorys}" th:field="*{sensorCategory}" th:value="${sensorCategory.id}" th:text="${sensorCategory.name}"></option>
		            </select>
	            </div>
	        </div> 
	    </fieldset>  
	</form>  
</body>

</html>

