<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>dynamicData</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<div id="dynamicData" style="width: 1500px;height:800px;"></div>
</body>

<script src="/webjars/jquery/3.2.0/jquery.js"></script>
<script src="/webjars/echarts/3.5.4/dist/echarts.js"></script>

<script type="text/javascript">
	$(document).ready(function(){
		
		var dynamicData = echarts.init(document.getElementById('dynamicData'));
		
		var showDatas = [];
		
		/*---测试数据---*/
		var uniqueId='abc123';
		
		var param_='cpu';
		
		var timeUnit=120;
		/*---测试数据---*/
		
		//发请求从后台数据库中取动态数据
		function getDynamicData(){
			dynamicData.showLoading();
			$.ajax({
				type:"get",
				url:'/iotxData/dynamicData/'+uniqueId+'/'+param_+'/'+timeUnit,
				async:true,
				success:function(data){
					//最终展示数据，x轴时间，y轴时间：val
					var showDatas = [];
					
					//x,y轴数据
					var x_data;
					var y_data;
					
					//遍历data,取出val和collect_time
					$.each(data,function(i,value){
						x_data = this.collectTime;
						y_data = this.val;
						showDatas.push({name:x_data.toString(),value:[x_data,y_data]})
					})
					
					dynamicData.hideLoading();
					
					// 填入数据
				    dynamicData.setOption({
				        series: [{
				            data: showDatas
				        }]
				    });
				},
				error:function(){
					alert('出错了!')
				},
			});		
		}
		
		var option_dynamicData = {
			    title: {
			        text: 'iotx动态数据'
			    },
			    tooltip: {
			        trigger: 'axis',
			        formatter: function (params) {
			        	 param = params[0];
			             return parseTimeStamp(param.name) + ' : ' + param.value[1];
			        },
			        axisPointer: {
			            animation: false
			        }
			    },
			    xAxis: {
			        type: 'time',
			        splitLine: {
			            show: false
			        }
			    },
			    yAxis: {
			        type: 'value',
			        boundaryGap: [0, '50%'],
			        splitLine: {
			            show: false
			        }
			    },
			    series: [{
			        name: 'dynamicData',
			        type: 'line',
			        showSymbol: false,
			        hoverAnimation: false,
			        data: showDatas,
			        
		            markPoint: {
		                data: [
		                    {type: 'max', name: '最大值'},
		                    {type: 'min', name: '最小值'}
		                ]
		            },
		            
		            markLine: {
		                data: [
		                    {type: 'average', name: '平均值',
		                    	symbol: 'circle',
		                        label: {
		                            normal: {
		                                position: 'end',
		                                formatter: '{b}:{c}'//{a}、{b}、{c}、{d}，分别表示系列名，数据名，数据值，百分比。
		                            }
		                        },
		                        lineStyle:{
		                        	normal:{
		                        		
		                        	}
		                        }
		             		},
		                    
		                    {name: '上限基准线',yAxis: 60,
		             			symbol: 'circle',
		                        label: {
		                            normal: {
		                                position: 'end',
		                                formatter: '{b}:{c}'
		                            }
		                        },
		                        lineStyle:{
		                        	normal:{
		                        		
		                        	}
		                        }
		                    },
		                    {name: '下限基准线',yAxis: 20,
		                    	symbol: 'circle',
		                        label: {
		                            normal: {
		                                position: 'end',
		                                formatter: '{b}:{c}'
		                            }
		                        },
		                        lineStyle:{
		                        	normal:{
		                        		
		                        	}
		                        }
		                    },
		                    
		                    [{
		                        symbol: 'none',
		                        x: '90%',
		                        yAxis: 'max'
		                    }, {
		                    	type: 'max',
		                        name: '最高点',
		                        symbol: 'circle',
		                        label: {
		                            normal: {
		                                position: 'start',
		                                formatter: '最大值'
		                            }
		                        },
		                    }], [{
		                        symbol: 'none',
		                        x: '90%',
		                        yAxis: 'min'
		                    } , {
		                    	type: 'min',
			                    name: '最低点',
		                        symbol: 'circle',
		                        label: {
		                            normal: {
		                                position: 'start',
		                                formatter: '最小值'
		                            }
		                        },
		                    }],
		                ]
		            }
			    }]
			};
		getDynamicData()
		dynamicData.hideLoading();
		dynamicData.setOption(option_dynamicData, true);
		
		//定时任务
		setInterval(function () {
	
			getDynamicData();
			
		}, 5000);
		
		function parseTimeStamp(nS) {     
			  return new Date(parseInt(nS)).toLocaleString().replace(/:\d{1,2}$/,' ');     
		}   
		
	});
</script>

</html>