<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<body>
 	<aside th:fragment="menu">
		<section class="sidebar" style="height: auto;">
			<ul class="sidebar-menu" id="side-menu">
			
				<li th:class="${session.menuId=='iotxManagement'?'treeview active':'treeview'}" shiro:hasPermission="iotxManagement:view">
					<a th:href="@{/iotx/management/map/view(menuId=iotxManagement)}">
						<img th:src="'/webResources/img/icon/'+${session.menuId=='iotxManagement'?'iotxManagement_active.png':'iotxManagement.png'}" class="sider-icon" height="35" width="35"/>
						&nbsp;&nbsp;
						<b th:text="#{iotxManagement}"></b>
					</a>
				</li>
				
				<li th:class="${session.menuId=='dustManagement'?'treeview active':'treeview'}" shiro:hasPermission="dustManagement:view">
					<a th:href="@{/dust/management/map/view(menuId=dustManagement)}">
						<img th:src="'/webResources/img/icon/'+${session.menuId=='dustManagement'?'dustManagement_active.png':'dustManagement.png'}" class="sider-icon" height="35" width="35"/>
						&nbsp;&nbsp;
						<b th:text="#{dustManagement}"></b>
					</a>
				</li>
				
				<li th:class="${session.menuId=='sensorManagement'?'treeview active':'treeview'}" shiro:hasPermission="sensorManagement:view">
					<a th:href="@{/sensor/management/map/view(menuId=sensorManagement)}">
						<img th:src="'/webResources/img/icon/'+${session.menuId=='sensorManagement'?'sensorManagement_active.png':'sensorManagement.png'}" class="sider-icon" height="35" width="35"/>
						&nbsp;&nbsp;
						<b th:text="#{sensorManagement}"></b>
					</a>
				</li>
				
				<li th:class="${session.menuId=='iotxAlarmData'?'treeview active':'treeview'}" shiro:hasPermission="iotxAlarmData:view">
					<a th:href="@{/iotxData/management/table/view(menuId=iotxAlarmData)}">
						<img th:src="'/webResources/img/icon/'+${session.menuId=='iotxAlarmData'?'iotxAlarmData_active.png':'iotxAlarmData.png'}" class="sider-icon" height="35" width="35"/>
						&nbsp;&nbsp;
						<b th:text="#{iotxAlarmData}"></b>
					</a>
				</li>
				
			</ul>
		</section>
	</aside>
</body>

</html>